@media (max-width: 1300px) {

  .container {
    margin-bottom: 80px;
    padding: 0px 50px 0px 50px;
  }

  /* Nav */

  .nav__container {
    padding: 26px 50px 26px 50px;
  }

  .nav__logo {
    width: 150px;
    height: 48px;
    transform: translateX(-4px);
  }


  .header__nav {
    position: absolute;
    left: 0;
    top: 0;
    flex-direction: column;
    width: 41%;
    min-width: 250px;
    height: 92.2vh;
    z-index: 2;
    padding: 160px 0px 0px 50px;
    box-shadow: 0 0 5px #888;
    background-color: #fff;
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-120%);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out, translaeX 0.3s ease-in-out;
  }

  .header__nav .nav__list {
    flex-direction: column;
  }

  .header__nav .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .header__nav .nav__link {
    font-size: 24px;
    line-height: 57px;
  }

  .header__nav--active {
    visibility: visible;
    transform: none;
  }

  /* Burger */

  .burger {
    display: block;
    position: relative;
    width: 32px;
    height: 23px;
    border-radius: 3px;
    z-index: 3;
  }

  .burger__line {
    position: absolute;
    left: 50%;
    width: 30px;
    height: 3px;
    border-radius: inherit;
    background-color: currentColor;
    transform: translateX(-53%);
  }

  .burger__line:nth-child(1) {
    top: -1px;
  }

  .burger__line:nth-child(2) {
    top: 50%;
    transform: translateX(-53%) translateY(-60%);
  }

  .burger__line:nth-child(3) {
    bottom: 1px;
  }

  .burger--active .burger__line:nth-child(2) {
    opacity: 0;
  }

  .burger--active .burger__line:first-child {
    left: 25%;
    top: 50%;
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .burger--active .burger__line:last-child {
    bottom: auto;
    left: 25%;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }



  /* form  */

  .search-form {
    right: 17%;
  }


  /* hero */

  .hero__content {
    padding: 17.3% 0% 17.2% 8%;
    background-size: 100% 100%;
  }


  h2 {
    margin: 0;
    margin-bottom: 14px;
    font-weight: 800;
    font-size: 60px;
    line-height: 73px;
  }

  h3 {
    margin-bottom: 10px;
  }

  .hero p {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    width: 82%;
    margin-bottom: 60px;
  }

  .hero button {
    max-width: 211px;
  }

  /* about-us */

  .Abbout__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 61px;
  }

  .Abbout__block {
    flex-direction: column;
    padding-left: 0%;
    padding-right: 0px;
  }

  .left__block {
    margin: 0px;
    width: 100%;
    padding-top: 53.3vh;
    margin-bottom: 32px;
    background-image: url('/img/Abbout-left__mobile_1024.jpg');
  }



  .right__block__item-1 {
    padding-left: 76px;
  }

  .right__block__item-2 {
    padding-left: 76px;
  }

  /* how */

  .hov__block {
    background-image: url('/img/Hov-1__mobile_1024.png');
    background-repeat: no-repeat;
    background-position-x: 103%;
  }

  .tabs-img {
    height: 98%;
    width: 47.2%;
  }

  .tabs-content p {
    margin-bottom: 24px;
  }

  .hov__block__item {
    margin: 0px;
  }

  .hov__list li {
    margin-bottom: 48px;
  }

  .hov__block p {
    margin-bottom: 21px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
  }

  /* Questions */

  .Questions h3 {
    margin-bottom: 30px;
  }

  .Questions button {
    margin: 0;
    width: 84%;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
  }

  .Questions li {
    width: 100%;
    padding: 34px 0px 25px 0px;
  }


  /* footer */

  .footer__right {
    display: none;
  }

  .footer {
    padding: 51px 0px 0px 48px;
    justify-content: flex-start;
  }

  .footer__left {
    margin: 0;
    margin-right: 130px;
  }


  .footer__form input {
    margin-bottom: 23px;
  }

  .footer__form textarea {

    margin-bottom: 35px;

  }

  .footer__form button {
    padding: 20px 35px 18px 39px;
    transform: translateX(0) translateY(0);
  }

}

@media (max-width: 900px) {

  .container {
    padding: 0px 50px 0px 50px;
  }

  /* nav */

  .nav__container {
    padding: 11px 50px 11px 50px;
  }

  .header__nav {
    height: 79.8vh;
  }

  /* form */

  .search-form {
    right: 22%;
  }

  .search-form--active {
    top: 2px;
  }

  /* hero */
  .hero__content {
    padding: 160px 6px 163px 41px;
  }

  h2 {
    font-weight: 800;
    font-size: 50px;
    line-height: 61px;
  }

  .Questions button {
    margin-bottom: 6px;
  }

  /* Hero */

  .hero p {
    width: 95%;
    margin-bottom: 58px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }

  /* Abboutus */

  .Abbout__block {
    padding: 0px 0px 0px 0px;
  }

  .Abbout__title {
    margin-bottom: 59px;
  }

  .left__block {
    padding-top: 68%;
    background-image: url('/img/Abbout-left__mobile_768.png');
  }

  .left__block__title {
    padding: 34px 40px 30px 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
  }

  .left__block__title p {
    width: 360px;
  }

  h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }

  .right__block__item-1 {
    padding: 33px 45px 36px 55px;
  }

  .right__block__item-1 svg {
    margin: 0px;
    width: 114px;
    height: 99px;
    transform: translateX(-14%) translateY(32px);
  }

  .right__block__item-2 {
    padding: 33px 45px 36px 55px;
  }

  .right__block__item-2 svg {
    margin: 0px;
    width: 114px;
    height: 99px;
    transform: translateX(-14%) translateY(32px);
  }

  /* Hov */

  .hov__list li {
    margin-right: 159px;
  }

  .hov__block {
    background-image: url(/img/Hov-1_768.jpg);
    background-position: 43% 0.4%;
    background-size: 100% 35.4%;
  }

  .hov__block__item {
    max-width: 100%;
    padding-top: 322px;
  }

  .hov__block__item p {
    width: 100%;
    margin-bottom: 25px;
  }

  /* Questions */

  .Questions h3 {
    margin-bottom: 28px;
    width: 99%;
  }

  .Questions button {
    width: 86%;
  }


  /* footer */

  .footer {
    padding: 52px 0px 24px 50px;
    flex-direction: column-reverse;
  }

  .Questions button {
    margin-bottom: 22px;
  }

  .footer__form textarea {
    margin-bottom: 36px;
  }

  .footer__left svg {
    margin-bottom: 15px;
  }

  .footer__center {
    margin-bottom: 50px;
  }

  .footer__list {
    display: none;
  }

}

@media (max-width: 600px) {

  .container {
    margin-bottom: 60px;
    padding: 0px 15px 0px 15px;
  }

  h2 {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 6px;
  }

  h3 {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }

  h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .Questions button {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 10px;
  }

  /* Nav */

  .header__nav {
    padding: 63px 0px 0px 25px;
    width: 100%;
  }

  .header__nav .nav__link {
    font-size: 19px;
    line-height: 25px;
  }


  .nav__container {
    padding: 21px 15px 12px 15px;
  }

  .nav__logo {
    width: 200px;
    height: 36px;
    transform: translateX(-4px);
  }

  .header__nav {
    max-height: 36.8vh;
  }

  .header__nav--active {
    max-height: 39.2vh;
  }

  .header__nav .nav__item:not(:last-child) {
    margin-bottom: 26px;
  }

  /* form */

  .search-form--active {
    top: 0;
    right: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    padding: 15px;
  }

  .search-form__input {
    width: 90%;
  }

  /* hero */

  .hero__content {
    padding: 60px 25px 60px 29px;
    align-items: flex-start;
  }

  .hero p {
    font-weight: 700;
    font-size: 12.2px;
    line-height: 15px;
    margin: 0px;
    margin-bottom: 33px;
  }

  .hero button {
    width: 59%;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    padding: 13px;
    transform: translateX(32px);
  }

  /* About us */

  .Abbout__block {
    padding: 0px;
  }

  .Abbout__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 13px;
  }

  .left__block {
    padding-top: 60%;
    background-repeat: no-repeat;
    background-size: 100% 50%;
  }

  .left__block__title {
    background-color: unset;
    flex-direction: column;
    padding: 34px 39px 0px 39px;
  }

  .left__block__title p {
    color: #333;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    width: 290px;
    margin-bottom: 11px;
  }

  .left__block__title button {
    padding: 0px;
    color: #FF9900;
    width: 162px;
    height: 40px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    transform: translateX(-40%);
  }

  .right__block__item-1,
  .right__block__item-2 {
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    border: none;
    flex-direction: column;
  }

  .right__block__item-1 {
    margin-bottom: 29px;
  }

  .right__block__item-1 svg,
  .right__block__item-2 svg {
    width: 64px;
    height: 58px;
    transform: none;
  }

  .block__title p {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }


  /* Hov */

  .hov h3 {
    margin: 0px;
    margin-bottom: 16px;
  }

  .footer__center {
    max-width: 95%;
  }

  .hov__block {
    background-image: url(/img/Hov-1__mobile_320px.png);
    background-size: 100% 16.2%;
    background-position-y: 1.7%;
  }

  .hov__list li {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 0px;
    margin-right: 33.5px;
  }

  .hov__block__item {
    width: 100%;
    padding-top: 190px;
  }

  .hov__block__item p {
    font-weight: 400;
    font-size: 14px;
    line-height: 26.9px;
    margin: 0px;
    margin-bottom: 16px;
  }

  .hov__btn-2 {
    width: 162px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    padding: 12px 10px 12px 10px;
    margin-right: 5px;
  }

  .hov__btn-3 {
    width: 118px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    padding: 12px 10px 12px 10px;
  }

  .tabs-img {
    top: 1.7vh;
    left: 0;
    width: 100%;
    height: 19.2vh;
}

.tabs-content p {
  line-height: 27px;
  font-size: 14px;
  margin-bottom: 9px;
}

  .tabs-item {
    max-width: 100%;
    padding-top: 23vh;
  }

  /* Question */

  .Questions h3 {
    margin-bottom: 16px;
  }

  .Questions button {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    width: 100%;
  }

  .Questions li {
    padding: 33px 0px 26px 0px;
    width: 100%;
  }

  .Questions li svg {
    width: 40px;
    height: 40px;
  }


  /* Footer */

  .footer {
    padding: 31px 0px 0px 14px;
  }

  .Questions button {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
  }


  .footer__form textarea {
    margin-bottom: 28px;
  }

  .footer__form button {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    width: 180px;
    height: 40px;
    padding: 0px;
    margin: 0px;
    display: block;
    margin-bottom: 12px;
  }

  .footer__left {
    margin: 0px;
    align-items: center;
  }

  .footer__left svg {
    width: 130px;
    margin-bottom: -9px;
    transform: translateX(-7px);
  }

  .footer__center {
    margin-bottom: 18px;
  }

  .social a svg {
    margin: 0px;
    width: 40px;
    transform: none;
  }

  .social li {
    margin: 0px;
    margin-right: 15px;
  }

  .footer__send {
    flex-direction: column;
    align-items: center;
  }


}
